<div id="Wrapper">
  <div id="Header_wrapper">
    <header id="Header">
      <div id="Top_bar">
        <div class="container">
          <div class="column one">
            <div class="top_bar_left clearfix">
              <div class="logo">
                <a id="logo" router-link="/" title="BeBarman - BeTheme" data-height="100" data-padding="0"><img
                    class="logo-main scale-with-grid" src="./assets/content/barman/images/logo-1.png"
                    data-retina="./assets/content/barman/images/logo-retina-1.png" data-height="110" alt="logo"><img
                    class="logo-sticky scale-with-grid" src="./assets/content/barman/images/logo-sticky.png"
                    data-retina="./assets/content/barman/images/logo-retina-sticky.png" data-height="80"
                    alt="logo-sticky" /><img class="logo-mobile scale-with-grid"
                    src="./assets/content/barman/images/logo-1.png"
                    data-retina="./assets/content/barman/images/logo-retina-1.png" data-height="110" alt="logo"><img
                    class="logo-mobile-sticky scale-with-grid" src="./assets/content/barman/images/logo-1.png"
                    data-retina="./assets/content/barman/images/logo-retina-1.png" data-height="110" alt="logo"></a>
              </div>
              <div class="menu_wrapper">
                <nav id="menu">
                  <ul id="menu-menu" class="menu menu-main">
                    <li>
                      <a routerLink="/"><span>Home</span></a>
                    </li>
                    <li>
                      <a routerLink="/about-us"> <span>About Us</span></a>
                    </li>
                    <li class="current-menu-item">
                      <a routerLink="/menu"> <span>Menu</span></a>
                    </li>
                    <li>
                      <a routerLink="/special"> <span>Special Offers</span></a>
                    </li>
                  </ul>
                </nav>
                <a class="responsive-menu-toggle"><i class="icon-menu-fine"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>

  <div id="Content">
    <div class="content_wrapper clearfix">
      <div class="sections_group">
        <div class="entry-content">
          <div class="section mcb-section dark bg-cover"
            style="padding-top:275px; padding-bottom:200px;background-image:url(./assets/content/barman/images/barman-ourdrinks-main-bg.jpg); background-repeat:no-repeat; background-position:left bottom">
            <div class="section_wrapper mcb-section-inner">
              <div class="wrap mcb-wrap one valign-top clearfix">
                <div class="mcb-wrap-inner">
                  <div class="column mcb-column one column_column">
                    <div class="column_attr clearfix align_left">
                      <h1 class="text_custom_menu">We make
                        <br> the best drinks
                        <br> in the whole world</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section mcb-section no-margin-h no-margin-v dark equal-height-wrap"
            style="padding-top:0px; padding-bottom:40px;background-image:url(./assets/content/barman/images/barman-ourdrinks-bubble-bg.jpg); background-repeat:repeat; background-position:center top">
            <div class="section_wrapper mcb-section-inner">
              <div class="wrap mcb-wrap one-second valign-top clearfix" style="background-color:#141527">
                <div class="mcb-wrap-inner">
                  <div class="column mcb-column one column_image">
                    <div class="image_frame image_item no_link scale-with-grid no_border">
                      <div class="image_wrapper">
                        <img class="scale-with-grid" src="./assets/content/barman/images/barman-home-drinkc.jpg">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrap mcb-wrap one-second valign-top clearfix"
                style="padding:50px 5%; background-color:#141527">
                <div class="mcb-wrap-inner">
                  <div class="column mcb-column one column_column">
                    <div class="column_attr clearfix">
                      <h3>White Draco</h3>
                      <hr style="background:#c073e4d3; width:80px; float:left; height:4px">
                      <br><br>
                    </div>
                  </div>
                  <div class="column mcb-column one column_column">
                    <div class="column_attr clearfix">
                      <div class="list_item lists_2 clearfix">
                        <div class="list_left list_image">
                          <img src="./assets/content/barman/images/barman-green-dot.png" class="scale-with-grid">
                        </div>
                        <div class="list_right">
                          <h4>Hot sauce</h4>
                          <div class="desc">
                            Maecenas non laoreet odio.
                          </div>
                        </div>
                      </div>
                      <hr class="no_line" style="margin:0 auto 10px">
                      <div class="list_item lists_2 clearfix">
                        <div class="list_left list_image">
                          <img src="./assets/content/barman/images/barman-green-dot.png" class="scale-with-grid">
                        </div>
                        <div class="list_right">
                          <h4>Hot sauce</h4>
                          <div class="desc">
                            Maecenas non laoreet odio.
                          </div>
                        </div>
                      </div>
                      <hr class="no_line" style="margin:0 auto 10px">
                      <div class="list_item lists_2 clearfix">
                        <div class="list_left list_image">
                          <img src="./assets/content/barman/images/barman-green-dot.png" class="scale-with-grid">
                        </div>
                        <div class="list_right">
                          <h4>Tomato juice</h4>
                          <div class="desc">
                            Fringilla sollicitudin orc.
                          </div>
                        </div>
                      </div>
                      <hr class="no_line" style="margin:0 auto 10px">
                      <div class="list_item lists_2 clearfix">
                        <div class="list_left list_image">
                          <img src="./assets/content/barman/images/barman-green-dot.png" class="scale-with-grid">
                        </div>
                        <div class="list_right">
                          <h4>White chocolate</h4>
                          <div class="desc">
                            Et labore deus exortus.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section mcb-section no-margin-h no-margin-v dark equal-height-wrap"
            style="padding-top:0px; padding-bottom:40px;background-image:url(./assets/content/barman/images/barman-ourdrinks-bubble-bg.jpg); background-repeat:repeat; background-position:center top">
            <div class="section_wrapper mcb-section-inner">
              <div class="wrap mcb-wrap one-second valign-top clearfix" style="background-color:#141527">
                <div class="mcb-wrap-inner">
                  <div class="column mcb-column one column_image">
                    <div class="image_frame image_item no_link scale-with-grid no_border">
                      <div class="image_wrapper">
                        <img class="scale-with-grid" src="./assets/content/barman/images/barman-home-drinkc.jpg">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrap mcb-wrap one-second valign-top clearfix"
                style="padding:50px 5%; background-color:#141527">
                <div class="mcb-wrap-inner">
                  <div class="column mcb-column one column_column">
                    <div class="column_attr clearfix">
                      <h3>White Draco</h3>
                      <hr style="background:#c073e4d3; width:80px; float:left; height:4px">
                      <br><br>
                    </div>
                  </div>
                  <div class="column mcb-column one column_column">
                    <div class="column_attr clearfix">
                      <div class="list_item lists_2 clearfix">
                        <div class="list_left list_image">
                          <img src="./assets/content/barman/images/barman-green-dot.png" class="scale-with-grid">
                        </div>
                        <div class="list_right">
                          <h4>Hot sauce</h4>
                          <div class="desc">
                            Maecenas non laoreet odio.
                          </div>
                        </div>
                      </div>
                      <hr class="no_line" style="margin:0 auto 10px">
                      <div class="list_item lists_2 clearfix">
                        <div class="list_left list_image">
                          <img src="./assets/content/barman/images/barman-green-dot.png" class="scale-with-grid">
                        </div>
                        <div class="list_right">
                          <h4>Hot sauce</h4>
                          <div class="desc">
                            Maecenas non laoreet odio.
                          </div>
                        </div>
                      </div>
                      <hr class="no_line" style="margin:0 auto 10px">
                      <div class="list_item lists_2 clearfix">
                        <div class="list_left list_image">
                          <img src="./assets/content/barman/images/barman-green-dot.png" class="scale-with-grid">
                        </div>
                        <div class="list_right">
                          <h4>Tomato juice</h4>
                          <div class="desc">
                            Fringilla sollicitudin orc.
                          </div>
                        </div>
                      </div>
                      <hr class="no_line" style="margin:0 auto 10px">
                      <div class="list_item lists_2 clearfix">
                        <div class="list_left list_image">
                          <img src="./assets/content/barman/images/barman-green-dot.png" class="scale-with-grid">
                        </div>
                        <div class="list_right">
                          <h4>White chocolate</h4>
                          <div class="desc">
                            Et labore deus exortus.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section mcb-section no-margin-h no-margin-v dark equal-height-wrap"
            style="padding-top:0px; padding-bottom:40px;background-image:url(./assets/content/barman/images/barman-ourdrinks-bubble-bg.jpg); background-repeat:repeat; background-position:center top">
            <div class="section_wrapper mcb-section-inner">
              <div class="wrap mcb-wrap one-second valign-top clearfix" style="background-color:#141527">
                <div class="mcb-wrap-inner">
                  <div class="column mcb-column one column_image">
                    <div class="image_frame image_item no_link scale-with-grid no_border">
                      <div class="image_wrapper">
                        <img class="scale-with-grid" src="./assets/content/barman/images/barman-home-drinkc.jpg">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrap mcb-wrap one-second valign-top clearfix"
                style="padding:50px 5%; background-color:#141527">
                <div class="mcb-wrap-inner">
                  <div class="column mcb-column one column_column">
                    <div class="column_attr clearfix">
                      <h3>White Draco</h3>
                      <hr style="background:#c073e4d3; width:80px; float:left; height:4px">
                      <br><br>
                    </div>
                  </div>
                  <div class="column mcb-column one column_column">
                    <div class="column_attr clearfix">
                      <div class="list_item lists_2 clearfix">
                        <div class="list_left list_image">
                          <img src="./assets/content/barman/images/barman-green-dot.png" class="scale-with-grid">
                        </div>
                        <div class="list_right">
                          <h4>Hot sauce</h4>
                          <div class="desc">
                            Maecenas non laoreet odio.
                          </div>
                        </div>
                      </div>
                      <hr class="no_line" style="margin:0 auto 10px">
                      <div class="list_item lists_2 clearfix">
                        <div class="list_left list_image">
                          <img src="./assets/content/barman/images/barman-green-dot.png" class="scale-with-grid">
                        </div>
                        <div class="list_right">
                          <h4>Hot sauce</h4>
                          <div class="desc">
                            Maecenas non laoreet odio.
                          </div>
                        </div>
                      </div>
                      <hr class="no_line" style="margin:0 auto 10px">
                      <div class="list_item lists_2 clearfix">
                        <div class="list_left list_image">
                          <img src="./assets/content/barman/images/barman-green-dot.png" class="scale-with-grid">
                        </div>
                        <div class="list_right">
                          <h4>Tomato juice</h4>
                          <div class="desc">
                            Fringilla sollicitudin orc.
                          </div>
                        </div>
                      </div>
                      <hr class="no_line" style="margin:0 auto 10px">
                      <div class="list_item lists_2 clearfix">
                        <div class="list_left list_image">
                          <img src="./assets/content/barman/images/barman-green-dot.png" class="scale-with-grid">
                        </div>
                        <div class="list_right">
                          <h4>White chocolate</h4>
                          <div class="desc">
                            Et labore deus exortus.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section mcb-section no-margin-h no-margin-v dark equal-height-wrap"
            style="padding-top:0px; padding-bottom:40px;background-image:url(./assets/content/barman/images/barman-ourdrinks-bubble-bg.jpg); background-repeat:repeat; background-position:center top">
            <div class="section_wrapper mcb-section-inner">
              <div class="wrap mcb-wrap one-second valign-top clearfix" style="background-color:#141527">
                <div class="mcb-wrap-inner">
                  <div class="column mcb-column one column_image">
                    <div class="image_frame image_item no_link scale-with-grid no_border">
                      <div class="image_wrapper">
                        <img class="scale-with-grid" src="./assets/content/barman/images/barman-home-drinkc.jpg">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrap mcb-wrap one-second valign-top clearfix"
                style="padding:50px 5%; background-color:#141527">
                <div class="mcb-wrap-inner">
                  <div class="column mcb-column one column_column">
                    <div class="column_attr clearfix">
                      <h3>White Draco</h3>
                      <hr style="background:#c073e4d3; width:80px; float:left; height:4px">
                      <br><br>
                    </div>
                  </div>
                  <div class="column mcb-column one column_column">
                    <div class="column_attr clearfix">
                      <div class="list_item lists_2 clearfix">
                        <div class="list_left list_image">
                          <img src="./assets/content/barman/images/barman-green-dot.png" class="scale-with-grid">
                        </div>
                        <div class="list_right">
                          <h4>Hot sauce</h4>
                          <div class="desc">
                            Maecenas non laoreet odio.
                          </div>
                        </div>
                      </div>
                      <hr class="no_line" style="margin:0 auto 10px">
                      <div class="list_item lists_2 clearfix">
                        <div class="list_left list_image">
                          <img src="./assets/content/barman/images/barman-green-dot.png" class="scale-with-grid">
                        </div>
                        <div class="list_right">
                          <h4>Hot sauce</h4>
                          <div class="desc">
                            Maecenas non laoreet odio.
                          </div>
                        </div>
                      </div>
                      <hr class="no_line" style="margin:0 auto 10px">
                      <div class="list_item lists_2 clearfix">
                        <div class="list_left list_image">
                          <img src="./assets/content/barman/images/barman-green-dot.png" class="scale-with-grid">
                        </div>
                        <div class="list_right">
                          <h4>Tomato juice</h4>
                          <div class="desc">
                            Fringilla sollicitudin orc.
                          </div>
                        </div>
                      </div>
                      <hr class="no_line" style="margin:0 auto 10px">
                      <div class="list_item lists_2 clearfix">
                        <div class="list_left list_image">
                          <img src="./assets/content/barman/images/barman-green-dot.png" class="scale-with-grid">
                        </div>
                        <div class="list_right">
                          <h4>White chocolate</h4>
                          <div class="desc">
                            Et labore deus exortus.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section mcb-section no-margin-h no-margin-v dark equal-height-wrap"
            style="padding-top:0px; padding-bottom:40px;background-image:url(./assets/content/barman/images/barman-ourdrinks-bubble-bg.jpg); background-repeat:repeat; background-position:center top">
            <div class="section_wrapper mcb-section-inner">
              <div class="wrap mcb-wrap one-second valign-top clearfix" style="background-color:#141527">
                <div class="mcb-wrap-inner">
                  <div class="column mcb-column one column_image">
                    <div class="image_frame image_item no_link scale-with-grid no_border">
                      <div class="image_wrapper">
                        <img class="scale-with-grid" src="./assets/content/barman/images/barman-home-drinkc.jpg">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrap mcb-wrap one-second valign-top clearfix"
                style="padding:50px 5%; background-color:#141527">
                <div class="mcb-wrap-inner">
                  <div class="column mcb-column one column_column">
                    <div class="column_attr clearfix">
                      <h3>White Draco</h3>
                      <hr style="background:#c073e4d3; width:80px; float:left; height:4px">
                      <br><br>
                    </div>
                  </div>
                  <div class="column mcb-column one column_column">
                    <div class="column_attr clearfix">
                      <div class="list_item lists_2 clearfix">
                        <div class="list_left list_image">
                          <img src="./assets/content/barman/images/barman-green-dot.png" class="scale-with-grid">
                        </div>
                        <div class="list_right">
                          <h4>Hot sauce</h4>
                          <div class="desc">
                            Maecenas non laoreet odio.
                          </div>
                        </div>
                      </div>
                      <hr class="no_line" style="margin:0 auto 10px">
                      <div class="list_item lists_2 clearfix">
                        <div class="list_left list_image">
                          <img src="./assets/content/barman/images/barman-green-dot.png" class="scale-with-grid">
                        </div>
                        <div class="list_right">
                          <h4>Hot sauce</h4>
                          <div class="desc">
                            Maecenas non laoreet odio.
                          </div>
                        </div>
                      </div>
                      <hr class="no_line" style="margin:0 auto 10px">
                      <div class="list_item lists_2 clearfix">
                        <div class="list_left list_image">
                          <img src="./assets/content/barman/images/barman-green-dot.png" class="scale-with-grid">
                        </div>
                        <div class="list_right">
                          <h4>Tomato juice</h4>
                          <div class="desc">
                            Fringilla sollicitudin orc.
                          </div>
                        </div>
                      </div>
                      <hr class="no_line" style="margin:0 auto 10px">
                      <div class="list_item lists_2 clearfix">
                        <div class="list_left list_image">
                          <img src="./assets/content/barman/images/barman-green-dot.png" class="scale-with-grid">
                        </div>
                        <div class="list_right">
                          <h4>White chocolate</h4>
                          <div class="desc">
                            Et labore deus exortus.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="section-decoration bottom"
              style="background-image:url(./assets/content/barman/images/barman-footer-decor.png);height:47px">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer id="Footer" class="clearfix">
    <div class="widgets_wrapper" style="padding:120px 0 75px">
      <div class="container">
        <div class="column one-third">
          <aside class="widget_text widget widget_custom_html">
            <h4>Find us here</h4>
            <div class="textwidget custom-html-widget">
              <hr class="no_line" style="margin:0 auto 10px">
              <p>
                <a style="margin-right:5px; font-size:18px"><i class="icon-facebook"></i></a>
                <a style="margin-right:5px; font-size:18px"><i class="icon-gplus"></i></a>
                <a style="margin-right:5px; font-size:18px"><i class="icon-twitter"></i></a>
                <a style=" margin-right:5px;font-size:18px"><i class="icon-linkedin"></i></a>
              </p>
            </div>
          </aside>
        </div>
        <div class="column one-third">
          <aside class="widget_text widget widget_custom_html">
            <h4>Contact with us</h4>
            <div class="textwidget custom-html-widget">
              <hr class="no_line" style="margin:0 auto 10px">
              <p>
                Nullam viverra consectetuer quisque
                <br> cursus et, porttitor risus.
              </p>
              <hr class="no_line" style="margin:0 auto 10px">
              <p>
                +61 (0) 3 8376 6284
                <br>
                <a>noreply@envato.com</a>
              </p>
            </div>
          </aside>
        </div>
        <div class="column one-third">
          <aside class="widget_text widget widget_custom_html">
            <h4>Localization</h4>
            <div class="textwidget custom-html-widget">
              <hr class="no_line" style="margin:0 auto 10px"> Envato
              <br> Level 13, 2 Elizabeth
              <br> Victoria 3000
              <br> Australia
            </div>
          </aside>
        </div>
      </div>
    </div>
    <div class="footer_copy">
      <div class="container">
        <div class="column one">
          <a id="back_to_top" class="button button_js" (click)="scrollToTop()"><i class="icon-up-open-big"></i></a>
          <div class="copyright">
            &copy; 2018 BeBarman - BeTheme. Muffin group - HTML by <a target="_blank" rel="nofollow"
              href="http://bit.ly/1M6lijQ">BeantownThemes</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

<!-- side menu -->
<div id="Side_slide" class="right dark" data-width="250">
  <div class="close-wrapper">
    <a class="close"><i class="icon-cancel-fine"></i></a>
  </div>
  <div class="menu_wrapper"></div>
</div>
<div id="body_overlay"></div>
